body {
	background-color: #fff;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	color: #e0e0e0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

/* container */
.container {
	width: 100%;
	max-width: 1249px;
	margin: 0 auto;
	
}

/* header */
.header {
	margin-top: 29px;
	height: 90px;
	color: #000;
	
}

.header__inner {
	background-color: #313030;
}

/* Nav*/
.nav {
	
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0 357px;
}

.nav__link {
	display: inline-block;
	width: 90px;
	height: 90px;
	text-align: center;
	padding: 35px 0;
	margin-left: 30px;
	background: #313030;
	text-decoration: none;
	color: #e0e0e0;
	transition: background .1s linear;
}
p {
	margin: 0;
}

.nav__link:hover {
	background-color: #ff3f40;
}

/* intro */
.intro {
	display: flex;
	justify-content: center;
	padding-top: 110px;
	height: 570px;
	
}

.intro__inner {
	
	left: 0;
	width: 609px;
	
}

.intro__title {
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	letter-spacing: 6px;
	font-weight: 800;
	color: #000;
	font-size: 60px;
	line-height: 1.4;
}

.intro__subtitle {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	max-width: 519px;
	font-size: 16px;
	padding-top: 18px;
	color: #6f6d6d;
	opacity: .7;
	font-weight: 400;
	line-height: 1.5;

}

.intro__playbutton {
	text-align: center;
	margin: 143px 0;
}

/* Rectangle */
#rectangle {
	width: 552px;
	height: 355px;
	float: right;
	margin: 0 auto;
	background-color: #c4c0b1;
	box-shadow: 0 0 80px rgba(199,195,195,1);
}



/* Button */
.btn {
	display: inline-block;
	font-size: 16px;
	vertical-align: top;
	margin-top: 60px;
	padding: 21px 0;
	text-align: center;
	color: #fff;
	text-decoration: none;
	width: 100%;
	max-width: 226px;
	border-radius: 8px;
	font-weight: 700;
	background-color: #ff2d2d;
	transition: color .1s linear;
	
}

.btn:hover {
	color: #ffe403;
}

/* Second */
.second {
	display: flex;
	justify-content: space-between;
	
	margin: 110px 0;
	height: 693px;
}

.second__inner {
	
	max-width: 513px;
	height: 360px;
	
	
}

.second__title {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 42px;
	color: #585858;
	line-height: 1.5;
	margin: auto;
}

.second__subtitle {
	font-size: 16px;
	font-weight: 400;
	color: #585858;
	line-height: 1.5;
}

.second__btn {
	display: inline-block;
	vertical-align: top;
	background-color: #fff;
	border: 2px solid #ff0000;
	border-radius: 8px;
	text-decoration: none;
	color: #ff2d2d;
	max-width: 100%;
	width: 227px;
	height: 51px;
	text-align: center;
	padding-top: 9.5px;
	font-size: 18px;
	font-weight: 700;
	margin-top: 60px;
	transition: color .1s linear;
}

.second__btn:hover {
	color: #ffe403;
}

/* Items */
.items {
	width: 619px;
	height: 480px;
	
	
	
	display: flex;
	flex-wrap: wrap;
	align-items: right;
	
	
}

.second__item {
	width: 50%;
	max-width: 275px;
	height: 220px;
	
}

.item__icon {
	width: 40px;
	height: 40px;
	margin-bottom: 16px;
}

.item__title {
	color: #737373;
	margin-bottom: 24px;
	font-weight: 600;
	font-size: 14px;
}

.item__text {
	max-width: 270px;
	opacity: .7;
	color: #737373;
	line-height: 1.5;
}


/* Third */
.third__page {
	margin-top: 216px;
}

.third__inner {
	
	height: 150px;
	text-align: center;
}

.third__title {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 38px;
	color: #585858;
	
}

.third__subtitle {
	
	font-size: 16px;
	font-weight: 400;
	color: #737373;
	margin-top: 35px;
	line-height: 1.5;
}

.third__border {
	width: 130px;
	height: 2px;
	border-bottom: 2px solid #ff2d2d;
	margin: 35px auto 0;
	
}

/* Slide */
.third__slide {
	
	height: 23px;
	margin: 125px auto 0;
}

.slide__text {
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 600;
	font-size: 22px;
	color: #737373;
	padding-left: 59px;
	transition: color .1s linear;
}

.slide__text:hover {
	color: #ff2d2d;
}

/* third__Images */
.third__images {
	max-width: 1249px;
	
	display: flex;
	flex-wrap: wrap;
	height: 615px;
	margin-top: 65px;
}
#rectangles {
	
	width: 25%;
	max-width: 288px;
	height: 288px;
	background-color: #f5f0dd;
	margin: 22px 11px 0;
}

/* Fourth */
